@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

#hero {
  height: 919px;
  background-image: linear-gradient(
      180deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero .hero_content {
  width: 1023px;
  height: 393px;
}

#hero .hero_content .sub_title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;

}

#hero .hero_content .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
}

#hero .hero_content .description {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}

#hero .hero_content button {
    border: transparent;
    border-radius: 6px;
    background: rgb(82, 195, 3);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    width: 279px;
    height: 66px;
    margin: 32px 0px;
}

#hero .hero_content button:hover{
    background: rgb(61, 130, 11);
    transition: 1s all ease-in-out;
}
